.newPostMain {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 2rem;
  width: 100%;
}

.newPostHeader {
  width: 100%;
  display: flex;
  justify-content:start;
  align-items: flex-start;
  padding: 10px;
  gap: 20px;
}

.titleNCategoryContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 4px var(--border);
  gap: 20px;


  & .labelInputContainer {
    display: flex !important;
    flex-direction: column;
    gap: 10px;

    & label {
      font-size: 10px;
      color: gray;
    }

    & input {
      height: 40px;
      border: none;
      outline: none;
      font-size: 1.2rem;
      background-color: var(--bg);
      color: var(--text);
    }
  }
}

.line {
  width: 95%;
  height: 1px;
  background-color: gray;
  border-radius: 10px;
  margin-inline: auto;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 4px var(--border);
  gap: 20px;

  & label {
    font-size: 10px;
    color: gray;
  }

  & textarea {
    height: 40px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    min-height: 200px;
    background-color: var(--bg);
    color: var(--text);
  }
}

.addImageContainer {
  display: flex;
 

  & label {
    width: 100%;
    height: 150px;
    margin-inline: auto;
    border: dashed 1px gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
    cursor:pointer;
  }

  & input {
    position: absolute;
    left: -1000px;
  }
}

.buttonsContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;

    & button {
        width:50%;
        height: 40px;
        font-size: 1.1rem;
        border-radius: 8px;
        cursor: pointer;
    }

    & button:active {
      scale: 0.9;
    }

    & .draftBtn {
        border: 1px solid var(--border);
        background-color: var(--bg);
         display: flex;
         color: var(--text);
       
        align-items: center;
        justify-content: center;
    }

    & .publishBtn {
         display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(55, 136, 250);
        border: none;
        color: white;
    }
}

@media (max-width: 768px) {
  .newPostMain {
    width: 100%;
  }

  .titleNCategoryContainer, .addImageContainer, .contentContainer {
    width: 100%;
  }

}

@media (min-width: 768px) {
  .titleNCategoryContainer, .addImageContainer, .contentContainer {
    width: 100%;
  }

}