.postPageSection {
  width: 100%;
  height: fit-content;
  padding-top: 10px;

  & .postImgFigure {
  min-width: 100%;
  height: 300px;
  margin-bottom: .8rem;
  border-radius: 10px;
 
  & img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
  }
}
}


.title {
  font-size: 1.8rem;
  margin-left: 10px;
  margin-bottom: 20px;
}

.categoryContainer {
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 10px;

  & .bullet {
    font-size: 1rem;
  }
}

.userContainer {
  padding: 10px;
  
}

.profileImgFigure {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid blue;

  & img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.nameNUsernameContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 5px;

  & .name {
    font-weight: 600;
    letter-spacing: 1px;
  }

  & .username {
    font-size: 10px;
    color: gray;
    letter-spacing: 1px;
  }
}

hr {
  margin-block: 1rem;
  margin-inline: 8px;
}

.postContent {
  font-size: 1.1rem;
  padding: 10px;
  padding-bottom: 3rem;

  line-height: 25px;
  width: 100%;
  font-family: system-ui;
}

.commentsContainer {
    padding-left: 20px;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.commentsAndLikesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 1rem;
}

.iconsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.commentContainer {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 10px;
  padding: 10px;
  padding-bottom: 30px;
  position: relative;

   & .commentHeart {
    position: absolute;
    bottom: 0;
    right: 15px;
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.CommentProfileImgFigure {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid blue;

  & img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.nameAndCommentContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & .nameAndDateContainer {
    width: 100%;
  display: flex;
  justify-content: space-between;
    height: 100%;
    gap: 5px;

    & .name {
      font-weight: 800;
    }

    & .date {
      font-size: 10px;
    }
  }

 
}

.commentContent {
  width: 100%;
  font-size: .9rem;
}

.commentForm {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 5px;
    border: 1px solid rgb(63, 63, 199);
    border-radius: 10px;
    background-color: white;

    & textarea {
        width: 90%;
        border-radius: 8px;
        padding: 10px;
        font-size: 1.1rem;
        /* border: 2px solid rgb(63, 63, 199); */
        border: none;
        outline: none;
        height: 50px;
    }

    & button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: none;
        background-image: linear-gradient(#85a8ff,#5676ff);
        /* height: fit-content; */
        width: 10%;
        height: 50px;
        padding: 10px;
        color: white;
        font-size: 1rem;
        cursor: pointer;
    }

    & button:active {
        scale: 0.9;
    }

    & button:disabled {
      scale: 1;
    }
}

@media (max-width: 768px) {

  .postPageSection {
    padding-inline: 10px;
  }

  .commentForm {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5px;
    border: 1px solid rgb(63, 63, 199);
    border-radius: 10px;
    background-color: white;

    & textarea {
        width: 90%;
        border-radius: 8px;
        padding: 10px;
        font-size: 1.1rem;
        /* border: 2px solid rgb(63, 63, 199); */
        border: none;
        outline: none;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: none;
        background-image: linear-gradient(#85a8ff,#5676ff);
        /* height: fit-content; */
        width: 15%;
        height: 40px;
        padding: 10px;
        color: white;
        font-size: 1rem;
        cursor: pointer;
    }

    & button:active {
        scale: 0.9;
    }

    & button:disabled {
      scale: 1;
    }
}
}

@media (min-width: 500px) {
  .postPageSection {
    width: 80%;
    margin-inline: auto;
  }

  .postImgFigure {
    width: 100%;
    height: 300px;
    position: relative;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    & .backArrow {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
}
