* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

.LSpostContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  box-shadow: 0 0 2px var(--text);
  border-radius: 8px;
  background-color: var(--bg);
}

.LSupper-layer {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 10px;


    & .LSimg-section {
        width: 100px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.LSupper-layer-no-img {
    display: flex;
   width: 100%;
}

.LSimageFigure {
  width: 100%;
  height: 200px;
 
  border-radius: 5px;
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
    transition: transform .3s linear;
  }
}

.LSpostContainer:hover .LSpost-image {
  transform: scale(1.03);
}

.LStextContainer {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.LSdetailsContainer {
  margin-inline: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}

.LScategory {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: greenyellow;
  color: green;
  padding-inline: 5px;
  padding-block: 2px;
  border: 1px solid green;
  border-radius: 5px;
}

.LSdate {
  font-size: 12px;
  color:var(--text);
}

.LStitle {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--text);
  /* color: rgb(0, 179, 250); */
}



.LSbodyAbbreviation {
  color: gray;
}

.LSbottomContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px !important;
}

.LSuserContainer {
  display: flex;
  gap: 10px;
}

.LSprofileImgFigure {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--primary);

  & img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.LSnameNUsernameContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 5px;

  & .LSname {
    font-weight: 600;
    color: var(--text);
  }

  & .LSusername {
    font-size: 10px;
    color: var(--text);
  }
}

.LSintractionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--text);
}

.LSlikes,
.LScomments, .LSbookmark {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
}

.LSlikes {
   & path {
    stroke: var(--text);
  }
}

.LSlikes:hover {
   & path {
    fill: #ff4d6d;
    stroke: none;
  }
}

.LScomments, .LSbookmark {
  fill: #3788fa;
  & path {
    fill: var(--text);
  }
}
.LScomments:hover {
  fill: #3788fa;
  & path {
    fill: #3788fa;
  }
}

/* COMPACT POST */
.LScompact--postContainer {
  width: 100%;
  height:fit-content;
  cursor: pointer;

  & .LSimageFigure {
    width: 100%;
    height: 100%;
   
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }

  .LStextContainer {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
  }

  .LSdetailsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & .LScategory--date {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 5px;
      white-space: nowrap;
    }
  }

  .LScategory {
    font-weight: 600;
    font-size: .6rem;
    letter-spacing: 1px;
    background-color: greenyellow;
    color: green;
    padding-inline: 5px;
    padding-block: 2px;
    border: 1px solid green;
    border-radius: 5px;
  }

  .LSdate {
    font-size: .6rem;
    white-space: nowrap;
  }

  .LStitle {
    font-weight: 600;
    font-size: .8rem;
    color: rgb(0, 179, 250);
    width: 90%;
    text-align: left;
    margin: 0;
    margin-bottom: .5rem;
  }

  .LSbodyAbbreviation {
    color: gray;
    font-size: .8rem;
    width: 90%;
    text-align: left;
  }

  .LSbottomContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    padding-left: 0;
    margin: 0;
    border-top: 1px solid gray;
  }

  .LSuserContainer {
    display: flex;
    gap: 5px;
    margin: 0;
  }

  .LSprofileImgFigure {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--primary);
    margin: 0;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .LSnameNUsernameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 5px;

    & .LSname {
      font-weight: 600;
      font-size: .6rem;
      white-space: nowrap;
    }

    & .LSusername {
      display: none;
    }
  }

  .LSintractionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

  }

  .LSlikes,
  .LScomments {
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: .6rem;
    gap: 5px;
  }
}

.LSfull--postContainer {
    overflow: hidden;
}

@media (min-width: 400px) {
  .LSimageFigure {
    width: 100%;
    height: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
}

@media (max-width: 768px) {
  .LSfull--postContainer {
    width: 390px;
    height: initial;
    margin-inline:auto;
}
}


@media (min-width: 768px) {
  .LSfull--postContainer {
    width: 450px;
    height: initial;
}

  .LSpostContainer:hover .LStitle {
  color: rgb(55,136,250);
}

}

@media (min-width: 978px) {
  .LSfull--postContainer {
    width: 700px;
    height: initial;
    .LSpostContainer:hover .LStitle {
  color: rgb(55,136,250);
}
}
}