html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: #f6f6fb;
  --text: #1f1f1f;
  --surface: #f6f6fb;
  --muted: #f8f9ff;
  --border: #d9d9d9;

  background-color: var(--bg);
  color: var(--text);
}

body.dark {
  --bg: #0c1233;
  --text: #dfe9ff;
  --surface: #121b41;
  --muted: #1a2459;
  --border: #324a90;

  background-color: var(--bg);
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
